endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"


set es_enableCustomData "1"
set mysql_connection_string "server=localhost;database=foltone;userid=root;password="

add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.add_principal allow<
add_principal identifier.steam:1100001349da85b group.superadmin #foltone

exec resources.cfg

sv_scriptHookAllowed 0

sets tags "dev, foltone"

sets locale "fr-FR"

setr sv_type "FA"

sv_hostname "^7[FR] ^Base foltone ^7|| ^7discord.gg/X9ReemrhKh"

sets discord "discord.gg/X9ReemrhKh"

sets crédit "Base Développé par foltone"

load_server_icon logo.png


# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

set onesync on

sv_maxclients 48

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey ""

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey 